@model IEnumerable<CarTireRepairService.Models.Workshop>
@using CarTireRepairService.Models;

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a>Workshops</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search"  class="btn btn-default" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProvidedServices.TireReplacement)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProvidedServices.AirConCharging)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProvidedServices.PunctureRepair)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProvidedServices.SuspensionAdjustment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @if (item.ProvidedServices.TireReplacement)
                {
                    <a asp-controller="Reservations" asp-action="Index" asp-route-id="@item.ID" asp-route-serviceType="@ServiceTypes.TireReplacement">
                        X
                    </a>
                }
            </td>
            <td>
                @if (item.ProvidedServices.AirConCharging)
                {
                    <a asp-controller="Reservations" asp-action="Index" asp-route-id="@item.ID" asp-route-serviceType="@ServiceTypes.AirConCharging">
                        X
                    </a>
                }
            </td>
            <td>
                @if (item.ProvidedServices.PunctureRepair)
                {
                    <a asp-controller="Reservations" asp-action="Index" asp-route-id="@item.ID" asp-route-serviceType="@ServiceTypes.PunctureRepair">
                        X
                    </a>
                }
            </td>
            <td>
                @if (item.ProvidedServices.SuspensionAdjustment)
                {
                    <a asp-controller="Reservations" asp-action="Index" asp-route-id="@item.ID" asp-route-serviceType="@ServiceTypes.SuspensionAdjustment">
                        X
                    </a>
                }
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.ID">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
